In [3]:
import mysql.connector as mys

In [13]:
import csv

In [4]:
db=mys.connect(
              host="localhost",
              user="root",
              password="password"             

)

In [6]:
mycur=db.cursor()

In [7]:
mycur.execute("show databases")

for i in mycur:
    print(i)

('Movies_db',)
('ORG',)
('information_schema',)
('movies',)
('mysql',)
('performance_schema',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('sys',)

In [9]:
#create database movies
mycur.execute("create database movies")

In [10]:
#use that selected database
mycur.execute("use movies")

In [11]:
#create table
mycur.execute("create table movies ( Sr_no int primary key , `movie name`  varchar(100), `release year` int NOT NULL, Director varchar(40) , `Lead Actors` Varchar(100) , `Lead Actress` Varchar(100))")

In [12]:
mycur.execute("show tables")
for i in mycur:
    print(i)

('movies',)

In [32]:
#importing the data of already existing csv file in the movies table
csv_file=csv.reader(open('/home/roshan/Desktop/project work/movies_list.csv'))

In [33]:
for row in csv_file:
    mycur.execute('insert into movies (Sr_no,`movie name`,`release year`,Director,`Lead Actors`,`Lead Actress`)' 'values (%s ,%s , %s , %s ,%s,%s ) ' ,row)

In [34]:
mycur.execute("select * from movies")
for i in mycur:
    print(i)

(1, 'Lagaan: Once Upon a Time in India', 2001, 'Ashutosh Gowariker', 'Aamir Khan', 'Gracy Singh')
(2, 'Gadar: Ek Prem Katha', 2001, 'Anil Sharma', 'Sunny Deol', 'Ameesha Patel')
(3, 'Indian', 2001, 'N. Maharajan', 'Sunny Deol', 'Shilpa Shetty')
(4, 'Kranti', 2002, 'Naresh Malhotra', 'Vinod Khanna', 'Rati Agnotri')
(5, 'The Legend of Bhagat Singh', 2002, 'Rajkumar Santoshi', 'Ajay Devgn', 'Preity Jinta')
(6, 'Lakshya', 2004, 'Farhan Akhtar', 'Hritik rohshan', 'Preity Jinta')
(7, 'Baghban', 2003, 'Ravi Chopra', 'Amitabh Bachan', 'Hema Malin')
(8, 'Karz: The Burden of Truth', 2002, 'Harry Baweja', 'Sunny Deol', 'Shilpa Shetty')
(9, 'LOC: Kargil', 2003, 'J.P. Dutta', 'Sanjay Dutt| Ajay Devgan|Saif ali khan', 'kareena kapoor | Raani mukherji')
(10, 'Swades', 2004, 'Ashutosh Gowariker', 'Shah Rukh Khan', 'Kajol')
(11, 'Munnabhai M.B.B.S.', 2003, 'Rajkumar Hirani', 'Sanjay Dutt', 'Gracy Singh')
(12, "Deewaar: Let's Bring Our Heroes Home", 2004, 'Milan Luthria', 'Amitabh Bachan |Sanjay Dutt', 'Amrita rao')
(13, 'Rang De Basanti', 2006, 'Rakeysh Omprakash Mehra', 'Aamir Khan', 'Soha ali khan')
(14, 'Krishna Cottage', 2004, 'Santram Varma', 'Sohail Khan ', 'Isha Kapoor')
(15, 'Garv: Pride and Honour', 2004, 'Puneet Issar', 'Salmaan Khan', 'Farida Jalal')
(16, 'Mujhse Shaadi Karogi', 2004, 'David Dhawan', 'Salmaan Khan | Akshay Kumar', 'Priyanka Cholpra')
(17, 'Phir Hera Pheri', 2006, 'Neeraj Vora', 'akshay kumar | Sunil Shetty | Paresh Rawal', 'Bipashu Basu')

In [39]:
#who are the lead actor and actress of movie Kranti

mycur.execute("select `Lead Actors` ,`Lead Actress` from movies where `movie name`='Kranti' ")

In [40]:
for i in mycur:
    print(i)

('Vinod Khanna', 'Rati Agnotri')

In [43]:
#movies realse in 2002
mycur.execute("select `movie name` from movies where `release year`=2002 ")
for i in mycur:
    print(i)

('Kranti',)
('The Legend of Bhagat Singh',)
('Karz: The Burden of Truth',)